* {
    box-sizing: border-box;
}

body {
    padding: 10px 20px;
    font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
}

h1 {
    text-align: center;
    font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
    font-size: 28px;
    margin-bottom: 0;
    color: #333;
}

h1 img {
    width: 50px;
    padding-bottom: 10px;
    padding-right: 10px;
    vertical-align: middle;
}

.sub-header {
    margin-top: 0;
    font-weight: bold;
    font-size: 16px;
    color: #999;
    text-align: center;
    font-style: italic;
}

.container {
    max-width: 700px;
    width: 100%;
    margin: 0 auto;
}

.main-desc {
    text-align: center;
    margin: 10px 50px 40px 50px;
}

.help-block {
    color: #444;
    margin-top: 4px;
    text-align: left;
    font-size: 14px;
}

input, textarea {
    border: 2px black solid;
    border-radius: 2px;
    font-size: 12px;
    width: 100%;
    margin-top: 7px;
    font-style: italic;
    padding: 5px 10px;
    line-height: 30px;
    outline: 0;
}

input:read-only {
    background: #eee;
    cursor: text;
}

label {
    font-weight: bold;
}

a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

a:hover {
    color: #777;
}

.open-source-desc {
    text-align: center;
    margin: 30px;
}

.open-source-desc .github-badge {
    display: block;
    width: 60px;
    height: 25px;
    margin: 10px auto;
}

@media(max-width: 500px) {
    h1 {
        font-size: 22px;
    }

    .main-desc {
        margin-right: 0;
        margin-left: 0;
    }
}

.options {
    width: 250px;
    margin: 0 auto;
    margin-bottom: 40px;
}

body .switcher {
    font-size: 16px;
    color: #444;
    font-weight:normal;
}



/** -- SWITCHER http://codepen.io/someatoms/pen/JKBrjo -- **/

.switcher {
    position: relative;
    display: inline-block;
    cursor: pointer;
    padding-left: 50px;
    height: 20px;
    line-height: 20px;
    margin: 5px 10px;
    font-size: 24px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.switcher input {
    display: none;
}

.switcher__indicator::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #d5d5d5;
    border-radius: 50%;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    -webkit-animation-name: pulsein;
    animation-name: pulsein;
    -webkit-animation-duration: .3s;
    animation-duration: .3s;
}
.switcher__indicator::before {
    content: '';
    position: absolute;
    top: 8px;
    left: 0;
    width: 40px;
    height: 4px;
    background-color: #d5d5d5;
    border-radius: 5px;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}
input:checked + .switcher__indicator::after {
    background-color: #29ce9a;
    -webkit-transform: translateX(20px);
    transform: translateX(20px);
    -webkit-animation-name: pulseout;
    animation-name: pulseout;
    -webkit-animation-duration: .3s;
    animation-duration: .3s;
}
input:checked + .switcher__indicator::before {
    background-color: #29ce9a;
}
input:disabled + .switcher__indicator::after, input:disabled + .switcher__indicator::before {
    background-color: #e5e5e5;
}

@-webkit-keyframes pulsein {
    0%,
    100% {
        top: 0;
        height: 20px;
        width: 20px;
    }
    50% {
        top: 2px;
        height: 14px;
        width: 26px;
    }
}

@keyframes pulsein {
    0%,
    100% {
        top: 0;
        height: 20px;
        width: 20px;
    }
    50% {
        top: 2px;
        height: 14px;
        width: 26px;
    }
}
@-webkit-keyframes pulseout {
    0%,
    100% {
        top: 0;
        height: 20px;
        width: 20px;
    }
    50% {
        top: 2px;
        height: 14px;
        width: 26px;
    }
}
@keyframes pulseout {
    0%,
    100% {
        top: 0;
        height: 20px;
        width: 20px;
    }
    50% {
        top: 2px;
        height: 14px;
        width: 26px;
    }
}

/** -- END SWITCHER -- **/